[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/ytyeoh/gohugo-theme-ananke.git
[submodule "themes/hugo-universal-theme"]
	path = themes/hugo-universal-theme
	url = https://github.com/devcows/hugo-universal-theme
