/* your styles go here */
.align-center{
  text-align: center;
}
.pad2{
  padding: 2rem 0;
}
.view-sm{
  display: none;
}
.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

.li-16{
  width: 16.6667%;
  text-align: center;
  font-family: Montserrat;
  font-weight: normal;
}

#nav-btm{
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100%;
}

#navbar{
  background-color: #3A3933;

  >li{
    color: white;
  }
  
}

/*section1*/
.lll {
  background: url('../img/ll.png')no-repeat center right; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 80% 80%;
  background-position-x: 30rem;
}
.ll2{
  min-height: 850px;
  color: #3A3933; 
  padding-left: 8rem;
}
.ll2 h3{
  font-size: 3.6rem;
  font-weight: lighter;
  color: #989689;
}
.aa{
  font-size: 2rem;
  font-weight: normal;
  
}
.ab{
  font-size: 10rem;
  font-family: Trajan Pro;
  color: #70A132;
}
.ac{
  font-size: 2.4rem;
  font-weight: normal;
}
.ad{
  font-size: 3.6rem;
}
.col {
    display: table-cell; /* Make elements inside the container behave like table cells */
}
.home-carousel .dark-mask {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #EAEAEA;
    opacity: 0.9;
    filter: alpha(opacity=90);
}
.back-i{
  position: absolute;
  left: 25rem;
  top: 3rem;
}
.bg-light-grey{
  background-color: #EAEAEA;

  height: 100%;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    min-width: 100%;
    height: auto;
}
#home-page .owl-controls{
    margin-top: 0px; 
    text-align: right;
    top: -5rem;
    padding-right: 7rem;
    position: relative;
}
#home-page .owl-buttons{
  padding-right: 80%;
}
/*description section*/
.ll3{
  padding: 0 3rem;
  padding-bottom: 5rem;
}
.ll3 h3{
  margin-top: 0;
  font-family: Trajan Pro;
  font-size: 3.5rem;
  color: #3A3933;
  font-weight: normal;

}
.ll3 p{
  font-size: 2rem;
}
.white-top{
  border-top: 5px solid white;
  margin: 0 5rem;
  margin-top: -3rem;
  padding-top: 3rem;
}
.green{
  border-top: 10px solid #71a132;
  left: 15px;
}
.fa, .fas {
  font-weight: 700;
}
.pad0{
  padding: 0;
}
.mar0{
  margin:0;
}

/*features*/

.box-fea{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  padding: 4rem 3rem;
  border-radius: 2rem;
}
.svg{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100px;
    background-position: center;
}
.bar p{
  padding: 1rem 0;
  text-transform: capitalize;
  font-size: 2rem;
}
/*Footer*/
#footer{
  color:  #3A3933;
  font-size: 14px;
}
#footer .lead{
  font-size: 14px;
}
#footer .btn{
  text-transform: capitalize;
  width:100%;
  border-radius: 1rem;
  border-radius: 1.5rem;
  padding: 1.5rem 1rem;
  font-size: 13px;
  background: #70A132;
  color: white;

}
#footer input{
  border-radius: 1.5rem;
  padding: 2.5rem 1rem;
}
#footer ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #DDDBD4;
  opacity: 1; /* Firefox */
}
.btf{
  font-weight: bolder;
  font-weight: 900;
}
#copyright a{
  color: #3A3933;
  text-transform: uppercase;
}
#copyright a:hover, a:focus{
  text-decoration: none;
}
#copyright p{
  font-size: 1rem;
  left: 3rem;
}
#footbar{
  position: fixed;
  bottom: 11%;
  right: 5%;
}
#footbar a{
  border-radius: 2rem;
  color: white;
  text-transform: uppercase;
}
#footbar a, a:hover, a:focus{
  color: white;
  text-decoration: none;
}
.primary-back{
  background-color: #3A3933;
  padding: 1rem 3rem;
}
.secondary-back{
  background-color: #70A132;
  padding: 1rem 3rem;
}

/*icon*/
.guard{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='126' height='126.612' viewBox='0 0 126 126.612'%3E%3Cg id='Group_237' data-name='Group 237' transform='translate(192.862 727.083)'%3E%3Cpath id='Path_247' data-name='Path 247' d='M-129.862-723.47l-60,40.241v79.759h120v-79.759Z' fill='none' stroke='%233a3933' stroke-miterlimit='10' stroke-width='6'/%3E%3Cpath id='Path_248' data-name='Path 248' d='M-149.862-666.718v10a20,20,0,0,0,20,20,20,20,0,0,0,20-20v-10' fill='none' stroke='%233a3933' stroke-miterlimit='10' stroke-width='6'/%3E%3Cline id='Line_67' data-name='Line 67' x2='53.914' transform='translate(-149.862 -666.718)' fill='none' stroke='%233a3933' stroke-miterlimit='10' stroke-width='6'/%3E%3Cpath id='Rectangle_59' data-name='Rectangle 59' d='M25.035,0H42.793A25.035,25.035,0,0,1,67.828,25.035v8.212a0,0,0,0,1,0,0H0a0,0,0,0,1,0,0V25.035A25.035,25.035,0,0,1,25.035,0Z' transform='translate(-163.776 -636.718)' fill='none' stroke='%233a3933' stroke-miterlimit='10' stroke-width='6'/%3E%3Cpath id='Path_249' data-name='Path 249' d='M-104.527-683.229h-45.335v16.511h40Z' fill='none' stroke='%233a3933' stroke-miterlimit='10' stroke-width='6'/%3E%3Cline id='Line_68' data-name='Line 68' x1='33.645' y2='33.645' transform='translate(-154.627 -636.718)' fill='none' stroke='%233a3933' stroke-miterlimit='10' stroke-width='6'/%3E%3C/g%3E%3C/svg%3E%0A");
  }
  .earth{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='126.397' height='126.397' viewBox='0 0 126.397 126.397'%3E%3Cg id='Group_241' data-name='Group 241' transform='translate(11.418 726.47)'%3E%3Ccircle id='Ellipse_1' data-name='Ellipse 1' cx='60.199' cy='60.199' r='60.199' transform='translate(-8.418 -723.47)' fill='none' stroke='%233a3933' stroke-miterlimit='10' stroke-width='6'/%3E%3Cellipse id='Ellipse_2' data-name='Ellipse 2' cx='31.904' cy='60.199' rx='31.904' ry='60.199' transform='translate(19.877 -723.47)' fill='none' stroke='%233a3933' stroke-miterlimit='10' stroke-width='6'/%3E%3Cg id='Group_240' data-name='Group 240'%3E%3Cpath id='Path_250' data-name='Path 250' d='M6.875-703.35a60.041,60.041,0,0,0,44.9,20.121,60.039,60.039,0,0,0,44.9-20.121' fill='none' stroke='%233a3933' stroke-miterlimit='10' stroke-width='6'/%3E%3Cpath id='Path_251' data-name='Path 251' d='M96.685-623.194a60.038,60.038,0,0,0-44.9-20.12,60.04,60.04,0,0,0-44.9,20.12' fill='none' stroke='%233a3933' stroke-miterlimit='10' stroke-width='6'/%3E%3C/g%3E%3Cline id='Line_69' data-name='Line 69' x2='120.397' transform='translate(-8.418 -663.272)' fill='none' stroke='%233a3933' stroke-miterlimit='10' stroke-width='6'/%3E%3Cline id='Line_70' data-name='Line 70' y2='120.397' transform='translate(51.78 -723.47)' fill='none' stroke='%233a3933' stroke-miterlimit='10' stroke-width='6'/%3E%3C/g%3E%3C/svg%3E%0A");
  }
.bridge{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='127' viewBox='0 0 120 127'%3E%3Cg id='Group_242' data-name='Group 242' transform='translate(-184.565 723.073)'%3E%3Cg id='Group_242-2' data-name='Group 242'%3E%3Cpath id='Path_252' data-name='Path 252' d='M191.937-651.76l52.628-52.626,52.627,52.626' fill='none' stroke='%233a3933' stroke-miterlimit='10' stroke-width='6'/%3E%3Cpath id='Path_253' data-name='Path 253' d='M208.929-651.76,244.565-687.4,280.2-651.76' fill='none' stroke='%233a3933' stroke-miterlimit='10' stroke-width='6'/%3E%3Cpath id='Path_254' data-name='Path 254' d='M225.921-651.76,244.565-670.4l18.644,18.645' fill='none' stroke='%233a3933' stroke-miterlimit='10' stroke-width='6'/%3E%3C/g%3E%3Cline id='Line_71' data-name='Line 71' y2='92.644' transform='translate(244.565 -723.073)' fill='none' stroke='%233a3933' stroke-miterlimit='10' stroke-width='6'/%3E%3Cg id='Group_243' data-name='Group 243'%3E%3Cline id='Line_72' data-name='Line 72' x2='120' transform='translate(184.565 -650.944)' fill='none' stroke='%233a3933' stroke-miterlimit='10' stroke-width='6'/%3E%3C/g%3E%3Cg id='Group_246' data-name='Group 246'%3E%3Cg id='Group_245' data-name='Group 245'%3E%3Cg id='Group_244' data-name='Group 244'%3E%3Cpath id='Path_255' data-name='Path 255' d='M184.565-638.848c10,0,10,8,20,8s10-8,20-8,10,8,20,8,10-8,20-8,10,8,20,8,10-8,20-8' fill='none' stroke='%233a3933' stroke-miterlimit='10' stroke-width='6'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg id='Group_249' data-name='Group 249'%3E%3Cg id='Group_248' data-name='Group 248'%3E%3Cg id='Group_247' data-name='Group 247'%3E%3Cpath id='Path_256' data-name='Path 256' d='M184.565-607.073c10,0,10,8,20,8s10-8,20-8,10,8,20,8,10-8,20-8,10,8,20,8,10-8,20-8' fill='none' stroke='%233a3933' stroke-miterlimit='10' stroke-width='6'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg id='Group_252' data-name='Group 252'%3E%3Cg id='Group_251' data-name='Group 251'%3E%3Cg id='Group_250' data-name='Group 250'%3E%3Cpath id='Path_257' data-name='Path 257' d='M184.565-622.751c10,0,10,8,20,8s10-8,20-8,10,8,20,8,10-8,20-8,10,8,20,8,10-8,20-8' fill='none' stroke='%233a3933' stroke-miterlimit='10' stroke-width='6'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}
.low-den{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='126' height='126.612' viewBox='0 0 126 126.612'%3E%3Cg id='Group_256' data-name='Group 256' transform='translate(-363.133 726.686)'%3E%3Cpath id='Path_258' data-name='Path 258' d='M426.133-723.073l-24,16.1v31.9h48v-31.9Z' fill='none' stroke='%233a3933' stroke-miterlimit='10' stroke-width='6'/%3E%3Cpath id='Path_259' data-name='Path 259' d='M390.133-651.073l-24,16.1v31.9h48v-31.9Z' fill='none' stroke='%233a3933' stroke-miterlimit='10' stroke-width='6'/%3E%3Cpath id='Path_260' data-name='Path 260' d='M462.133-651.073l-24,16.1v31.9h48v-31.9Z' fill='none' stroke='%233a3933' stroke-miterlimit='10' stroke-width='6'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.flower{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='127.208' height='129.306' viewBox='0 0 127.208 129.306'%3E%3Cg id='Group_258' data-name='Group 258' transform='translate(-596.512 732.38)'%3E%3Cpath id='Path_261' data-name='Path 261' d='M630.7-723.073l-30,88.1h60Z' fill='none' stroke='%233a3933' stroke-miterlimit='10' stroke-width='6'/%3E%3Cpath id='Path_262' data-name='Path 262' d='M610.718-660.331,630.7-634.977l19.985-25.354' fill='none' stroke='%233a3933' stroke-miterlimit='10' stroke-width='6'/%3E%3Cpath id='Path_263' data-name='Path 263' d='M615.7-682.1l15,19.03,15-19.03' fill='none' stroke='%233a3933' stroke-miterlimit='10' stroke-width='6'/%3E%3Cline id='Line_73' data-name='Line 73' y2='120' transform='translate(630.702 -723.073)' fill='none' stroke='%233a3933' stroke-miterlimit='10' stroke-width='6'/%3E%3Cg id='Group_257' data-name='Group 257'%3E%3Ccircle id='Ellipse_3' data-name='Ellipse 3' cx='8.054' cy='8.054' r='8.054' transform='translate(678.995 -702.174)' fill='none' stroke='%233a3933' stroke-miterlimit='10' stroke-width='6'/%3E%3Cpath id='Path_264' data-name='Path 264' d='M714.585-703.067a14.477,14.477,0,0,0-13.771-10,14.476,14.476,0,0,0-13.765-10.006,14.477,14.477,0,0,0-13.765,10.006,14.476,14.476,0,0,0-13.77,10,14.474,14.474,0,0,0,5.263,16.183,14.476,14.476,0,0,0,5.254,16.186,14.477,14.477,0,0,0,17.018,0,14.477,14.477,0,0,0,17.018,0,14.477,14.477,0,0,0,5.255-16.186A14.477,14.477,0,0,0,714.585-703.067Z' fill='none' stroke='%233a3933' stroke-miterlimit='10' stroke-width='6'/%3E%3C/g%3E%3Cline id='Line_74' data-name='Line 74' y2='67.629' transform='translate(687.049 -670.702)' fill='none' stroke='%233a3933' stroke-miterlimit='10' stroke-width='6'/%3E%3Cpath id='Path_265' data-name='Path 265' d='M713.089-625.763a26.029,26.029,0,0,0,6.729-25.156,26.031,26.031,0,0,0-25.156,6.728,26.03,26.03,0,0,0-6.729,25.157A26.028,26.028,0,0,0,713.089-625.763Z' fill='none' stroke='%233a3933' stroke-miterlimit='10' stroke-width='6'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.location{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='126' height='126' viewBox='0 0 126 126'%3E%3Cg id='Group_259' data-name='Group 259' transform='translate(-805.394 726.073)'%3E%3Crect id='Rectangle_60' data-name='Rectangle 60' width='120' height='120' transform='translate(808.394 -723.073)' fill='none' stroke='%233a3933' stroke-miterlimit='10' stroke-width='6'/%3E%3Cg id='Group_259-2' data-name='Group 259'%3E%3Ccircle id='Ellipse_4' data-name='Ellipse 4' cx='11.229' cy='11.229' r='11.229' transform='translate(857.165 -704.303)' fill='none' stroke='%233a3933' stroke-miterlimit='10' stroke-width='6'/%3E%3Cpath id='Path_266' data-name='Path 266' d='M868.394-638.042c19.037-19.308,25.995-36.008,28.537-45.8a29.912,29.912,0,0,0,1.383-7.641c.088-1.035.08-1.592.08-1.592a30,30,0,0,0-30-30,30,30,0,0,0-30,30s-.007.557.081,1.592a29.87,29.87,0,0,0,1.383,7.642C842.4-674.048,849.359-657.349,868.394-638.042Z' fill='none' stroke='%233a3933' stroke-miterlimit='10' stroke-width='6'/%3E%3C/g%3E%3Cline id='Line_75' data-name='Line 75' y1='94.968' x2='94.968' transform='translate(833.426 -698.042)' fill='none' stroke='%233a3933' stroke-miterlimit='10' stroke-width='6'/%3E%3Cline id='Line_76' data-name='Line 76' y2='34.968' transform='translate(868.394 -638.042)' fill='none' stroke='%233a3933' stroke-miterlimit='10' stroke-width='6'/%3E%3Cline id='Line_77' data-name='Line 77' x2='120' transform='translate(808.394 -638.042)' fill='none' stroke='%233a3933' stroke-miterlimit='10' stroke-width='6'/%3E%3C/g%3E%3C/svg%3E%0A");
}