<section id='floor-plan'>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3 class="secondary-text">Floor plant</h3>
        <div class="row">
          <div class="col-md-7 col-xs-6">land area</div>
          <div class="col-md-3 col-xs-6">{{ .Site.Params.floor_plan.land_area }}</div>
          <div class="col-md-7 col-xs-6">build-up area</div>
          <div class="col-md-3 col-xs-6">{{ .Site.Params.floor_plan.built_up }}</div>
        </div>
      </div>
      <div class="col-md-12 "></div>
      <div class="col-md-6 padtop4 row white10">
        {{ range $index, $element := sort .Site.Data.floor_plan "weight" }}
            <div class="col-md-10 col-xs-11 card">
              <div class="row">
                <div class="col-md-8 col-xs-8">
                  <div class="vcenter">
                    <span class="digit secondary-text">{{.digit}}</span> <span class="internal">{{ .name }}</span>
                  </div>
                </div>
                <div class="col-md-4 col-xs-4">
                  <div class="vcenter">
                    <div class="svg {{ .icon }}"></div>
                  </div>
                </div>
              </div>
            </div>
          {{ end }}
      </div>
      <div class="col-md-6 white-bb">
        {{ $imagePath := printf "/img/%s" .Site.Params.floor_plan.floor_plan }}
        {{- $asset := resources.Get $imagePath -}}
        {{ $tiny := ($asset.Resize "480x q90") }}
        {{ $small := ($asset.Resize "768x q90") }}
        {{ $medium := ($asset.Resize "1000x q90") }}
        {{ $large := ($asset.Resize "1300x q90") }}

        <img 
        srcset="
        {{- with $tiny.RelPermalink -}}{{.}} 480w{{- end -}}
        {{- with $small.RelPermalink -}}, {{.}} 768w{{- end -}}
        {{- with $medium.RelPermalink -}}, {{.}} 1024w{{- end -}}
        {{- with $large.RelPermalink -}}, {{.}} 1366w{{- end -}}"
    src="{{ .Site.Params.floor_plan.floor_plan }}" alt="" class="img-responsive">
      </div>
    </div>
  </div>
</section>