<section id="gallery" class="bg-light-grey">
    <div class="home-carousel container">
             <div class=" row">
                <div class="col  col-xs-12 ">
                    <h3 class="secondary-text">Gallery</h3>
                </div> 
                <div class="gallery owl-carouse bg-light-greyl" id="desciption-page" id="ggg">
                    {{ range .Site.Params.gallery.img }}
                    <div class="item">
                        <div class="row">
                            <div class="col-sm-12">
                                <a href="{{ .img }}" data-lightbox="gallery">
                                <img class="img-responsive" src="{{ .img }}" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    {{ end }}
                </div>  
                             
            </div>
            <!-- /.project owl-slider -->
        </div>
    </div>
</section>
